Flask
Flask-Auth
Flask-HTTPAuth
Flask-Login
Flask-Uploads
Flask-SQLAlchemy
Flask-Storage
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
command-not-found==0.3
decorator==3.3.3
flake8==2.4.1
ipython==0.13.2
itsdangerous==0.23
language-selector==0.1
mccabe==0.3.1
pep8==1.5.7
pyflakes==0.8.1
pygobject==3.8.0
python-apt==0.8.8ubuntu6
simplegeneric==0.8.1
ufw==0.33-0ubuntu3