{% extends 'base.html' %}
{% block title %}/!\ ERROR /!\{% endblock %}
{% block head %}
    <meta name="description" content="Error page">
    {{ super() }}
{% endblock %}

{% block content %}

<body background="static/img/iamerror.jpg">

            <div class="hero-unit">
                <p class="lead">
                <!-- To avoid potential theological confusion, the author of the vegan comment didn't diss veganism. It's a bare play with an existing -ism applied to the art of producing bugs. -->
                {% if user %}
                    Dear user {{ user }}<br />
                    We are maintaining the DMA Interface to either implement more awesomeness, or squash some vegan bugs.
                {% else %}
                    Dear users<br />
                    The DMA Interface is ERROR due to some vegan bugs.
                {% endif %}
                </p>
            <div class="panel panel-primary panel-default">
                <div class="panel-heading">Malicious sample upload interface is temporarily ERROR.<br />
                This is what happened:</div>
                <div class="panel-body">
                <b>{{ e }}</b>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
