{% extends "base.html" %}
{% block title %}Upload Interface - {% endblock %}
{% block head %}
    <meta name="description" content="Main page">
    {{ super() }}
{% endblock %}

{% block content %}

            <div class="hero-unit">
                <p class="lead">
                   You can upload suspicious executables or documents to obtain a dynamic analysis report. The documents or executables files are not shared with external parties. An analysis can take up to 15 minutes.
                </p>
            <div class="panel panel-primary panel-default">
                <div class="panel-heading">Malicious sample upload interface</div>
                <div class="panel-body">
                    <form role="form" method="POST" enctype="multipart/form-data" action="{{ urlPath+url_for('upload') }}">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Sample (EXE, DLL or PDF) to submit</label>
                            <div class="col-lg-10">
                                <input type="file" name="sample" class="btn btn-info">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">System to use</label>
                            <div class="col-lg-10">
                                <select class="form-control selectpicker" name="machine">
                                    {% for m in machines['machines'] %}
                                        {% if m['status'] != "aborted" %}
                                            <option value="{{ m['name'] }}"
                                                {% if m['status'] == "poweroff" %}
                                                    data-icon="icon-ok"
                                                {% elif m['status'] == "running" %}
                                                    data-icon="icon-repeat"
                                                {% endif %}
                                            data-subtext="{{ " / ".join(m['tags']) }}" >{{ m['name'] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class"col-lg-2 control-label">Analysis package</label>
                        </div>
                        <div class="col-lg-10">
                        <select class="form-control selectpicker" name="package">
                                <option>applet</option>
                                <option>bin</option>
                                <option>dll</option>
                                <option>doc</option>
                                <option selected>exe</option>
                                <option>html</option>
                                <option>ie</option>
                                <option>jar</option>
                                <option>pdf</option>
                                <option>vbs</option>
                                <option>xls</option>
                                <option>zip</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-info">Submit for analysis</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        {% if upload %}
            <div class="alert alert-success">
                Sample has been submitted {{ upload.filename }} as type {{ upload.mimetype }} with uuid {{ uuid }}
            </div>
        {% endif %}
    </div>
    {% if s %}
        <div class="hero-unit">
            <div class="panel panel-primary panel-default">
                <div class="col-lg-10">
                    <form role="form" method="POST" enctype="multipart/form-data" action="{{ urlPath+url_for('index') }}">
                        <select class="form-control selectpicker" id="retmax" name="retmax" onchange="this.form.submit()">
                            <option value={{ retmax }} selected>Showing: {{ retmax }}</option>
                            <option>5</option>
                            <option>10</option>
                            <option>30</option>
                            <option>70</option>
                            <option>all</option>
                        </select>
                    </form>
                </div>
                <div class="panel-heading">Status of uploaded sample</div>
                <table class="table table-hover table-condensed btable tablehead">
                    <thead>
                        <!-- PDF -->
                        <col width="50">
                        <!-- Task ID -->
                        <col width="50">
                        <!-- Submitter -->
                        <col width="100">
                        <!-- cuckoo Flav -->
                        <col width="140">
                        <!-- Sample -->
                        <col width="250">
                        <!-- Status -->
                        <col width="80">
                        <!-- Error(s) -->
                        <col width="80">
                        <!-- System -->
                        <col width="300">
                        <!-- Date -->
                        <col width="200">
                        <!-- Header of analysis -->
                        <tr><th>PDF</th><th>Task ID</th><th>Submitter</th><th>cuckoo flavour<th>Sample</th><th>Status</th><th>Error(s)</th><th>System</th><th>Date</th></tr>
                    </thead>

                    {% for t in s %}
                        <!-- Set the row colour to red or green-->
                        {% if t['task']['errors']|length > 0 %}
                            <tr class="error">
                        {% elif t['task']['status'] == 'failed_analysis' %}
                            <tr class="error">
                        {% elif t['task']['status'] == 'reported' %}
                            <tr class="success">
                        {% elif t['task']['status'] == 'running' %}
                            <tr class="warning">
                        {% elif t['task']['status'] == 'pending' %}
                            <tr class="info">
                        {% else %}
                            <tr class="error">
                        {% endif %}

                                <!-- PDF -->
                                <td>
                                {% if t['task']['status'] == 'reported' %}
                                    <a href="{{ urlPath }}/pfetch/{{ t['task']['id'] }}" target="_blank"><img src="static/img/Pdf-Icon-fs8.png" style="height:40px;border:0"></a>
                                {% else %}
                                    N/A
                                {% endif %}
                                </td>
                                <!-- Task id -->
                                <td>
                                {% if t['task']['status'] == 'reported' %}
                                    <a href="{{ urlPath }}/rfetch/{{ t['task']['id'] }}" target="_blank">{{ t['task']['id'] }}</a>
                                {% else %}
                                    {{ t['task']['id'] }}
                                {% endif %}
                                </td>
                                <!-- Submitter -->
                                <td>{{ user }}</td>
                                <!-- cuckoo flavour -->
                                {% if cuckooStatus['version'] == '1.3-Optiv' %}
                                    <td>modified<br />Optiv v1.3</td>
                                {% elif cuckooStatus['version'] == '1.3-NG' %}
                                    <td>modified<br />Spender v1.3</td>
                                {% else %}
                                    <td>vanilla v2.0-HEAD</td>
                                {% endif %}
                                <!-- Sample -->
                                <td> {{ t['task']['target'].split("/")[4] }} </td>
                                <!-- Status -->
                                <td> {{ t['task']['status'] }} </td>
                                <!-- Error(s) -->
                                <td>
                                    {% if t['task']['errors']|length > 0 %}
                                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" title="{{ t['task']['errors'][0] }}">Errors!</button>
                                    {% endif %}
                                </td>
                                <!-- System -->
                                <td> {{ t['task']['guest']['name'] }} </td>
                                <!-- Date -->
                                <td> {{ t['task']['completed_on'] }} </td>
                            </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
</body>
</html>
