{% extends 'base.html' %}
{% block title %}/!\ Maintenance /!\{% endblock %}
{% block head %}
    <meta name="description" content="Maintenance page to ease the wait">
    {{ super() }}
{% endblock %}

{% block content %}

            <div class="hero-unit">
                <p class="lead">
                Dear user {{ user }},
                Currently we are maintaining the DMA Interface to implement more awesomeness, or squash some vegan bugs.
                </p>
            <div class="panel panel-primary panel-default">
                <div class="panel-heading">Malicious sample upload interface is in maintenance mode since {{ maintenanceTime }}</div>
                <div class="panel-body">
                <a href="{{ xkcd }}" target="_blank"><img src={{ xkcd }} ></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
