.btable {
  table-layout: fixed;
  word-wrap: break-word;
}

td {
  width: 30px;
  overflow: hidden;
}

table {
  width : 90px;
  table-layout: fixed;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
}
@keyframes blink {
    80% {
        visibility: hidden;
    }
}
