# Admin username list
ADMINS = [ "yourBasicAuthAdminUsername", "yourOtherBasicAuthUsername" ]
# Secret key used for flask
SECRET_KEY = 'Replace WITH your $ecret K3y!'
# Location of file uploads
UPLOAD_FOLDER = "/Users/steve/Desktop/code/dma-frontend/web/static/upload/"
# If you have no reverse-proxy, leave as-is
MYPROXYHOST="www.example.com"
# Enabling maintenance mode will display either a stock XKCD or a dynamic one
MAINTENANCE  = False
# This will output startup config and enable Flask-DebugToolBar
DEBUG = False
# One cuckoo instance
BASE_URL = [ "http://my-cuckoo-server.local:8090" ]
# Two cuckoo instances
#BASE_URL = [ "http://my-cuckoo-server.local:8090", "http://my-cuckoo-modified-server.local:8090" ]
TASKS_VIEW = "/tasks/view/"
TASKS_REPORT = "/tasks/report/"
CUCKOO_STATUS = "/cuckoo/status"
MACHINES_LIST = "/machines/list"

def mail(to="your.address@example.com", subject="[DMA] #fail where is the subject", message="I pity you fool! Please provide a message."):
    msg = MIMEText(message)
    msg['Subject'] = subject
    msg['From'] = "dma-my-cuckoo-server@example.com"
    msg['To'] = to
    s = smtplib.SMTP('your-outgoing-smtp-that-relays-for-you.local')
    s.send_message(msg)
    s.quit()


# list of trusted mime types
trustedMIME = [
    "application/x-dosexec", # package exe
    "application/pdf", # package pdf
    "application/msword", # package doc
    "text/rtf", # package doc
    "application/vnd.openxmlformats-officedocument.wordprocessingml.document", # package doc
    "application/vnd.ms-excel", # package xls
    "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", # package xls
    "application/x-shockwave-flash", # package ie
    "text/html", # ie
    "application/java-archive", # package jar
    "text/x-pascal", # fail graciously
    "application/x-msi", # package msi
    "application/vnd.ms-cab-compressed", # package msi???
    "application/x-mach-binary", # fail graciously for now
    "application/zip", # package zip
    "application/x-gzip", # package zip
    "application/x-7z-compressed", # package zip
    "application/vnd.oasis.opendocument.text", # package doc
    "text/plain", # package ???
    "application/octet-stream", # package ???
    "image/png", # package ???
    "image/jpeg", # package ???
    "text/xml", # package ???
    "inode/x-empty", # package ???
    "application/vnd.tcpdump.pcap", # package ???
    "application/vnd.ms-outlook", # package ???
]

# Template json, for reference what the cuckoo API feeds us.
xJSON = [{'task': {
    'guest': {
         'id'         : 42,
         'name'       : 'Windows_reload',
         'label'      : 'Windows_reload',
         'task_id'    : 42,
         'manager'    : 'VirtualBox',
         'shutdown_on': '2016-02-13 00:36:16',
         'started_on' : '2016-02-13 00:33:56'
         },
         'target': '/tmp/cuckoo-tmp/upload_S6wOsp/calc.exe',
         'priority': 1,
         'sample_id': 19,
         'shrike_refer': None,
         'status': 'reported',
         'anti_issues': None,
         'processing_finished_on': None,
         'signatures_started_on': None,
         'signatures_finished_on': None,
         'shrike_msg': None,
         'custom': '',
         'signatures_total': None,
         'analysis_started_on': None,
         'completed_on': '2016-02-13 00:36:16',
         'dropped_files': None, 'options': '',
         'reporting_started_on': None,
         'package': 'exe',
         'parent_id': None,
         'enforce_timeout': False,
         'clock': '2015-10-16 00:33:55',
         'tags': [],
         'machine_id': None,
         'registry_keys_modified': None,
         'timeout': 0,
         'domains': None,
         'platform': '',
         'machine': 'Windows_7_ent_sp1_x86_en',
         'processing_started_on': None,
         'added_on': '2016-02-13 00:33:55',
         'timedout': False, 'analysis_finished_on': None,
         'errors': [],
         'category': 'file',
         'started_on': '2016-02-13 00:33:56',
         'shrike_url': None,
         'files_written': None,
         'signatures_alert': None,
         'reporting_finished_on': None,
         'running_processes': None,
         'api_calls': None,
         'sample': {
              'md5': 'e9cc8c20b0e682c77b97e6787de16e5d',
              'file_type': 'PE32 executable (GUI) Intel 80386, for MS Windows',
              'sha256': 'ef854d21cbf297ee267f22049b773ffeb4c1ff1a3e55227cc2a260754699d644',
              'crc32': '03C45201',
              'sha512': '1a3b9b2d16a4404b29675ab1132ad542840058fd356e0f145afe5d0c1d9e1653de28314cd24406b85f09a9ec874c4339967d9e7acb327065448096c5734502c7',
              'file_size': 115200,
              'id': 42,
              'ssdeep': '1536:Zl14rQcWAkN7GAlqbkfAGQGV8aMbrNyrf1w+noPvaeBsCXK15Zr6O:7mZWXyaiedMbrN6pnoXPBsr5ZrR',
              'sha1': '8be674dec4fcf14ae853a5c20a9288bff3e0520a'
         },
         'id': 42,
         'shrike_sid': None,
         'memory': False,
         'crash_issues': None
         }
}]
